/NINETRAX API V6/DataLayer/obj
/NINETRAX API V6/DataLayer/bin
/NINETRAX API V6/NINETRAX/obj
/NINETRAX API V6/NINETRAX/bin
/NINETRAX API V6/RepositoryLayer/obj
/NINETRAX API V6/RepositoryLayer/bin
/NINETRAX UI/NINETRAX/node_modules
/NINETRAX API V6/.vs
/NINETRAX API V5/DataLayer/obj
/NINETRAX API V5/DataLayer/bin
/NINETRAX API V5/NINETRAX/obj
/NINETRAX API V5/NINETRAX/bin
/NINETRAX API V5/RepositoryLayer/obj
/NINETRAX API V5/RepositoryLayer/bin
/NINETRAX API V5/.vs