/NINETRAX API/DataLayer/obj
/NINETRAX API/DataLayer/bin
/NINETRAX API/NINETRAX/obj
/NINETRAX API/NINETRAX/bin
/NINETRAX API/RepositoryLayer/obj
/NINETRAX API/RepositoryLayer/bin
/NINETRAX UI/NINETRAX/node_modules
/NINETRAX API/.vs