/NINETRAX API V6/DataLayer/obj
/NINETRAX API V6/DataLayer/bin
/NINETRAX API V6/NINETRAX/obj
/NINETRAX API V6/NINETRAX/bin
/NINETRAX API V6/RepositoryLayer/obj
/NINETRAX API V6/RepositoryLayer/bin
/NINETRAX API V6/.vs
/NINETRAX API V5/DataLayer/obj
/NINETRAX API V5/DataLayer/bin
/NINETRAX API V5/NINETRAX/obj
/NINETRAX API V5/NINETRAX/bin
/NINETRAX API V5/RepositoryLayer/obj
/NINETRAX API V5/RepositoryLayer/bin
/NINETRAX API V5/.vs
/NINETRAX UI/NINETRAX/node_modules
/NINETRAX UI Hooks/NINETRAX/node_modules
/NINETRAX UI Hooks Staterkit/NINETRAX/node_modules
/NINETRAX UI Hooks Staterkit/.vs/NINETRAX UI Hooks Staterkit/v17/.suo
/NINETRAX UI Hooks Staterkit/.vs/VSWorkspaceState.json
/NINETRAX UI Hooks Staterkit/.vs
/NINETRAX API V5/NINETRAX/.config/dotnet-tools.json
/NINETRAX API V5/NINETRAX/Properties/PublishProfiles/FolderProfile.pubxml
/NINETRAX API V5/NINETRAX/Properties/PublishProfiles/FolderProfile.pubxml.user
/NINETRAX API V6/NINETRAX/Properties/PublishProfiles/FolderProfile.pubxml
/NINETRAX API V6/NINETRAX/Properties/PublishProfiles/FolderProfile.pubxml.user
